html {
    margin: 0;
}

body {
    _font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}


/* Intento de animacion */
#loadButton {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    margin: -25px 0 0 -25px;
    border: 4px rgba(0, 0, 0, 0.25) solid;
    border-top: 10px #008744 solid;
    border-right: 10px #0057e7 solid;
    border-bottom: 10px #d62d20 solid;
    border-left: 10px #ffa700 solid;
    border-radius: 50%;
    -webkit-animation: spin6 1s infinite linear;
            animation: spin6 1s infinite linear;
  }
  
  @-webkit-keyframes spin6 {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
  }
  @keyframes spin6 {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
  }




/* HEADER CON NABVAR */

#wt_navbar {
    overflow: hidden;
    background-color: rgba(251, 179, 45, 1);
    padding: 90px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

#wt_navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

#wt_navbar #wt_logo {
    font-size: 50px;
    _height: 5em;
    transition: 2s;
}

#wt_navbar:hover {
    background-color: rgba(251, 179, 45, 0.5);
    color: black;
}

#wt_navbar a.active {
    background-color: dodgerblue;
    color: white;
}

#wt_navbar-right {
    float: right;
}

@media screen and (max-width: 580px) {
    #wt_navbar {
        padding: 20px 10px !important;
    }
    #wt_navbar a {
        float: none;
        display: block;
        text-align: left;
    }
    #wt_navbar-right {
        float: none;
    }
}


/* SECTIONS */

section {
    margin: 0px;
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    _position: relative;
    background-blend-mode: darken;
    background-color: pink;
    padding: 0px;
}

#roger_02 {
    padding: 3em 0;
    min-height: auto;
    background-color: grey;
}

#roger_04 {
    padding: 3em 0;
    min-height: auto;
    background-color: grey;
}


/* CAJAS DE DESTACADOS (FEATURED) */

#featured_box {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 35vh;
    _background-color: white;
    _position: absolute;
    _bottom: 50px;
    _min-height: 40rvh;
}

#featured_trips {
    border-radius: 3px;
    background-color: rgba(256, 256, 256, 0.6);
    padding: 5px 10px;
    margin: 5px;
}


/* FOOTER y COPYRIGHT */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 2em;
    width: 100%;
    background-color: rgb(251, 179, 45);
    color: darkslategray;
    text-align: center;
}

.minilogo {
    width: 2em;
}